


/*
  _     _         
 | |   | |        
 | |__ | |_ _ __  
 | '_ \| __| '_ \ 
 | |_) | |_| | | |
 |_.__/ \__|_| |_|
*/

.btnwith {
	width:250px;
	cursor:pointer;
  border:none;
	padding:6px 0 6px 0;
	border-radius:15px;
	background:white;
	font:bold 13px Roboto;
	color:#000000;
}

.btn {
	width:250px;
	cursor:pointer;
  border:none;
	padding:6px 0 6px 0;
	border-radius:15px;
	background:#ffc804;
	font:bold 13px Roboto;
	color:#000000;
}



.chp {
	width:250px;
  border:none;
	padding:6px 0 6px 0;
	border-radius:15px;
	background:#b2a6ca;
	font:bold 13px Roboto;
  color:#fff;
  text-align: center;
}



/*
  _             _           __  _                         
 | |           (_)         / / (_)                        
 | | ___   __ _ _ _ __    / /__ _  __ _ _ __  _   _ _ __  
 | |/ _ \ / _` | | '_ \  / / __| |/ _` | '_ \| | | | '_ \ 
 | | (_) | (_| | | | | |/ /\__ \ | (_| | | | | |_| | |_) |
 |_|\___/ \__, |_|_| |_/_/ |___/_|\__, |_| |_|\__,_| .__/ 
           __/ |                   __/ |           | |    
          |___/                   |___/            |_|    
*/


/* Homepage */

.logo {
	width:250px;
}

.header {
	text-align: center;
	width:250px;
	display:block;
	margin: 0 auto;
}

.carousel-container {
	display:flex;
	overflow: auto;
	scroll-snap-type: y mandatory;
	scroll-padding: 50%;
}

.game-small {
	flex-direction: column;
	border: 1px solid red;
	border-radius: 20px;
	margin: 0 5vw 0 10vw;
	width: 80vh;
	scroll-snap-align: center;
}

.game-small-img {
	width:250px;
}

.flex {
display:flex
}

