/* general */

body  {
	background: rgb(27, 24, 68);
	background: linear-gradient(rgba(27, 24, 68,1) 0%, rgba(121,14,9,1) 100%, rgba(0,212,255,1) 100%); 
	color:white;
	min-height: 100vh;
}

.link {	
	text-decoration: none;
	color:white;
}

.flex {
display:flex
}

.button {
	text-align: center;
}

.btnwith {
	width:250px;
	cursor:pointer;
  border:none;
	padding:6px 0 6px 0;
	border-radius:15px;
	background:white;
	font:bold 13px Roboto;
	color:#000000;
}

.btn {
	width:250px;
	cursor:pointer;
  border:none;
	padding:6px 0 6px 0;
	border-radius:15px;
	background:#ffc804;
	font:bold 13px Roboto;
	color:#000000;
}

.chp {
	width:250px;
  border:none;
	padding:6px 0 6px 0;
	border-radius:15px;
	background:#b2a6ca;
	font:bold 13px Roboto;
  color:#fff;
  text-align: center;
}

h1, h2, h3 {
	margin: 10px;
}

/* Homepage/Catalogue */

.logo {
	width:250px;
}

.header {
	text-align: center;
	width:250px;
	display:block;
	margin: 0 auto;
}

.container {
	height:400px;
}

.carousel-container {
	min-height:100%;
	display:flex;
	overflow: auto;
	scroll-snap-type: y mandatory;
	scroll-padding: 50%;
}

.title {
	font-size: larger;
	font-weight: bolder;
}

.game-small {
	flex-direction: column;
	margin: 0 5px 40px 10px;
	scroll-snap-align: center;
	background-color: white;
	color:  rgb(27, 24, 68);
	border-radius: 15px;
	overflow:hidden;
}

.game-small-img {
	height:100%;
	max-width: 100%;
	margin: 0 auto;
	object-fit: cover;

}

.game-small-row-1 {
	width: 150px;
	height: 150px;
	text-align:center;
	margin-top:10px;
	padding-top:10px;
}

.game-small-row-2 {
	width: 150px;
	height: 40px;
	text-align:center;
}

.game-medium {
	flex-direction: column;
	margin: 50px 5px 0 10px;
	scroll-snap-align: center;
	background-color: white;
	color:  rgb(27, 24, 68);
	border-radius: 30px;
	overflow:hidden;
	margin-top:10px;
	padding-top:10px;

}

.game-medium-img {
	max-height:100%;
	max-width: 100%;
	margin: 0 auto;
}

.game-medium-row-1, .game-medium-row-2, .game-medium-row-3, .game-medium-row-4 {
	width: 350px;
	text-align:center;
	
}

.game-medium-row-4.flex {
justify-content: space-around;
margin:10px;
}

.game-medium-column-1 .game-medium-column-2 .game-medium-column-3 {
	width: 33%;
	height: 150px;
	text-align:center;
}

.collection-small {
	flex-direction: column;
	margin: 0 auto 40px auto;
	width: 90vw;
	background-color: white;
	color:  rgb(27, 24, 68);
	border-radius: 30px;
	overflow:hidden;
}

.collection-small-img {
	width: 100%;
	object-fit: cover;
	height:150px;
}

.collection-small-row-1 {
	width: 90vw;
	height: 150px;
	text-align:center;
}

.collection-small-row-2 {
	width: 90vw;
	text-align:center;
}

.hero-banner {
	height: 30vh;
	background-size: cover;
}
/*Profile*/

img.avatar {
    width:13em;height:13em;border-radius:100%; object-fit:contain; margin:0 auto;
    background:#e1e1e1;
    margin-bottom:1em;
    object-fit: cover;
}